html,
body,
.container,
.map {
	height: 100%;
}
:after, :before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.container {
    
}
.clearfix:before,
.clearfix:after {
	display: table;
    content: " ";
}
.clearfix:after,
.container:after {
	clear: both;
}

/* map layers */
.map {
}

/* controls */